# Assignment 4

## - Fiorella Chinchay Habich
## - CÃ©sar Ortiz
## - Julissa Menchola

### **Instructions**

1. Import the REC0111.sav, RE223132.sav and RE516171.sav files and their variables and values labels from this path "../../_data/endes/2019". The name of imported files should be named as rec_1, rec_2 and rec_3 for files REC0111.sav, RE223132.sav and RE516171.sav respectively. The name of the variable and value labels should be var_labels1 and value_labels1 for rec1, var_labels2 and value_labels2 for rec2, and var_labels3 and value_labels3 for rec3.

*First, I created an environment appropriate for working with databases. Later I extracted the file that allows loading databases in Python.*

In [2]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

In [3]:
!pip install pyreadstat
import pyreadstat as ps

Requirement already satisfied: pyreadstat in c:\users\fialc\anaconda3\lib\site-packages (1.2.5)
Requirement already satisfied: pandas>=1.2.0 in c:\users\fialc\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fialc\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\fialc\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\fialc\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\fialc\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\fialc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

*After, I import the dataset.*

In [4]:
rec_1, df1 = ps.read_sav("../../_data/endes/2019/REC0111.sav")
var_labels1=df1.column_names_to_labels
value_labels1=df1.variable_value_labels

In [7]:
rec_2, df2 = ps.read_sav("../../_data/endes/2019/RE223132.sav")
var_labels2=df2.column_names_to_labels
value_labels2=df2.variable_value_labels

In [11]:
rec_3, df3 = ps.read_sav("../../_data/endes/2019/RE516171.sav")
var_labels2=df3.column_names_to_labels
value_labels2=df3.variable_value_labels

2. Select the following columns for each data set:

Data	Columns
rec1	CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133

rec2	CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380

rec3	CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715

Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as rec1_1, rec2_1, and rec3_1. The new varible labels objects should be named as new_var_labels1, new_var_labels2, and new_var_labels3. The new value labels objects should be named as new_value_labels1, new_value_labels2, and new_value_labels3

*As other groups did in the last assigment, I created a list of objects. After that, I renamed the dataset and the labels.*

In [13]:
list_1=['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 
        'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123','V124', 
        'V125', 'V127', 'V133']
list_2=['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 
        'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 
        'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
list_3=['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 
        'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

In [14]:
rec1_1=rec_1.loc[:,list_1]
rec2_1=rec_2.loc[:,list_2]
rec3_1=rec_3.loc[:,list_3]

In [16]:
new_var_labels1 = {var: df1.column_names_to_labels[var] for var in list_1 if var in df1.column_names}
new_var_labels2 = {var: df2.column_names_to_labels[var] for var in list_2 if var in df2.column_names}
new_var_labels3 = {var: df3.column_names_to_labels[var] for var in list_3 if var in df3.column_names}

In [17]:
new_value_labels1 = {var: df1.variable_value_labels[var] for var in list_1 if var in df1.variable_value_labels}
new_value_labels2 = {var: df2.variable_value_labels[var] for var in list_2 if var in df2.variable_value_labels}
new_value_labels3 = {var: df3.variable_value_labels[var] for var in list_3 if var in df3.variable_value_labels}

3. Generate a new column for rec1_1 named as year. It should be equal to 2019. Also, you must update this new variable for the var_labels dictionary. Generate a new key for new_var_labels1 and the value for this key should be "Year of the survey"

*I assigned the value 2019 to all the files of the column year, using loc*

In [20]:
rec1_1.loc[:,"year"]="2019"
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

In [21]:
new_var_labels1.update({'year':"Year of the survey"})

4. Merge rec1_1, rec2_1, and rec3_1 using CASEID. Name this new object as endes_2019

*I combined the dataset using the column CAISED, as a key value. Also, I named this data endes_2019*

In [22]:
endes_2019=rec1_1.merge(rec2_1,on='CASEID',how='outer')\
                .merge(rec3_1,on='CASEID',how='outer')
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

5. Unify all the new_var_labels in one object and new_value_labels in another one object. Name these two objects as var_labels and value_labels. Use them to generate new attributes for endes_2019. These attributes should be named as var_labels and value_labels.

In [24]:
var_labels = {}
for labels_dict in [new_var_labels1, new_var_labels2, new_var_labels3]:
    var_labels.update(labels_dict)

value_labels = {}
for labels_dict in [new_value_labels1, new_value_labels2, new_value_labels3]:
    value_labels.update(labels_dict)

In [25]:
endes_2019['var_labels'] = endes_2019.index.map(var_labels)
endes_2019['value_labels'] = endes_2019.index.map(value_labels)
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V510,V511,V512,V513,V525,V613,V714,V715,var_labels,value_labels
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0,NaN,NaN
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0,NaN,NaN
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0,NaN,NaN
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0,NaN,NaN
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0,NaN,NaN
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0,NaN,NaN
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0,NaN,NaN
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0,NaN,NaN

6. Now, replicate your code of the prevoius sections but for years 2019, 2018, 2017, 2016, 2015. Import the REC0111.sav, RE223132.sav and RE516171.sav files and their variables and values labels from this path "../../_data/endes/". For this excersie you must use a for loop. This loop must iterate over 2019, 2018, 2017, 2016, 2015 folders and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as all_data. The keys of the dictionary should be named as year_2019, for example, and the keys of the nested dictionary should be data, var_labels, and value_labels.