1.1 Tuple
a)Print the first item of the second item of tuple1 object. Hint: Use indexing

b)Print the last item of the tuple1 object.Hint: Use indexing

c)hange the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?

d)Print the length of tuple1. Hint: Length function

e)Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

a)Print the first item of the second item of tuple1 object. Hint: Use indexing
Definidas las duplas, solo debemos seleccionar el primer elemento del segundo elemento de la dupla.Considerando 0

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [8]:
print(tuple1)

('Orange', [10, 20, 30], (5, 15, 25))

In [12]:
print(tuple1)

('Orange', [10, 20, 30], (5, 15, 25))

In [13]:
tuple1[1]

[10, 20, 30]

In [27]:
tuple1[1].index(10)

0

In [28]:
result=tuple1[1][0]

In [29]:
result

10

b)Print the last item of the tuple1 object.Hint: Use indexing
el Ãºltimo elemento de la tupla1

In [30]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [31]:
print(tuple1)

('Orange', [10, 20, 30], (5, 15, 25))

In [32]:
tuple1[-1]

(5, 15, 25)

c)hange the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?

NO es posible, una vez que se ha creado una dupla, no se pueden modificar.

d)Print the length of tuple1. Hint: Length function
    Usamos leng

In [34]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [35]:
tuple1

('Orange', [10, 20, 30], (5, 15, 25))

In [38]:
len(tuple1)

3

La longitud de la tupla es 3

e)Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [39]:
tuple2 = ([7, 8], [9, 1], [10, 7])

In [40]:
tuple2

([7, 8], [9, 1], [10, 7])

In [41]:
sum, tuple2

(<function sum(iterable, /, start=0)>, ([7, 8], [9, 1], [10, 7]))

In [42]:
total_sum = sum(map(sum, tuple2))

print(total_sum)

42