# Assigment 2 - Group 4

## 1.1 Tuple

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

1. Print the first item of the second item of tuple1 object. **Hint: Use indexing**

In [19]:
# As Python starts counting from 0, the second item of tuple1 is 1 in counting.
# Then, the first item of the second object is 0 in counting.
tuple1[1][0]

10

2. Print the last item of the tuple1 object. **Hint: Use indexing**

In [21]:
# -1 is used to identify the last item of a tuple. 
tuple1[-1]

(5, 15, 25)

3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?**

In [27]:
#It is not possible to modify a tuple. However, it is possible to modify a list.

#First, convert the tuple to a list.
list1 = list(tuple1)

#Then, change the first value
list1[0] = "Pink Grapefruit"

#Convert the list to a tuple
tuple1 = tuple(list1)

print(tuple1)

('Pink Grapefruit', [10, 20, 30], (5, 15, 25))

4. Print the length of tuple1. **Hint: Length function**

In [29]:
len(tuple1)

3

5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**

In [31]:
#First, the map and the sum functions are used to sum the items of each list.
#Then, the outer sum function calculates the sum of all the values obtained from the first step.
#The result is the sum of all the elements of tuple 2.
sum(map(sum, tuple2))

42

### Numeral 6

Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

##### Solución:

First, we define the function "half_v" to divide the elements of a list by two.

In [2]:
def half_v(list1):
  return [x * 0.5 for x in list1]

Then, we use the "map" function and the "half_v" function to divide all the elements of the lists that are in tuple2.

In [3]:
 half_values= map(half_v, tuple2)

Tuple3 is created with the values of the elements of the lists in tuple2 (contained in "half_values") in half.

In [4]:
tuple3 = tuple(half_values)

A print of tuple3 is made to see the elements.

In [5]:
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

It is verified that tuple3 is a tuple.

In [6]:
print(type(tuple3))

<class 'tuple'>

## Problem 1.2

In [7]:
import numpy as np

In [8]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [9]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [10]:
p2_list = [ 2 , 3, 4, 5 ]

In [11]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [ ]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe"

### Numeral 1:

Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.

##### Solución:

First, we find the first nan element with the index function.

In [12]:
nan_value_1 = f_list.index(np.nan)

Then, with the index function we find the second nan element starting at the first position.

In [13]:
nan_value_2 = f_list.index(np.nan,1)

We find with the index function the third nan element starting in the second position.

In [14]:
nan_value_3 = f_list.index(np.nan,2)

Finally, we find with the index function the last nan element starting in the fifth position.

In [15]:
nan_value_4 = f_list.index(np.nan,5)

We make a print with the f-string function declaring in "format" all the values of type "int" found previously.

In [16]:
print("The indices {}, {}, {}, {} have np.nan values".format(nan_value_1, nan_value_2, nan_value_3, nan_value_4))

The indices 0, 1, 4, 7 have np.nan values

### Numeral 2:

Replicate 4 times the values of the list p2_list.Hint: Use multiplication functi on in lists and see the output.

##### Solución:

First, we import "operator".
Then, we create the list with the replica 4 times.
Finally, we make a print to verify the elements of the list.

In [17]:
import operator
multi_1 = operator.mul(p2_list,4)
print(multi_1)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

### Numeral 3:

Print the length of f_list. Hint: Length function

##### Solución:

We use the length function and the print in the f_list.

In [18]:
print(len(f_list))

8

### Numeral 4:

Print My teacher assistant is so boring. using text1 list. Hint: Use the join function

##### Solución:

First, we use the "join" function by prepending the respective space for the list phrase "text1".

In [19]:
text1_str = ' '.join(text1)

Finally, we perform the print.

In [20]:
print(text1_str)

My teacher assistant is so boring.