# Assignment N°2 - Group 2

## 1.1 Tuple

**1. Print the first item of the second item of `tuple1` object.**

Como primer paso creo un segundo objeto llamado `tuple_1_2` copiando el segundo elemento de `tuple1`, a continuación extraigo el primer elemento del nuevo objeto creado lo cual nos arroja el primer elemento de la tupla 1.

In [34]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple_1_2 = tuple1[1]
tuple_1_2[0]

10

**2. Print the last item of the tuple1 object.**

Seguimos la lógica del anterior código, a partir de la tupla 1 creamos un nuevo objeto llamado `tuple_1_3` que recoge el tercer elemento de la mencionada tupla. A continuación se hace un llamado a dicho objeto, lo cual nos mostrará el item solicitado.

In [35]:
tuple_1_3=tuple1[2]
tuple_1_3

(5, 15, 25)

**3. Change the value "orange" for "pink grapefruit". Comment the output.**

Las tuplas son un contener de Python que no se puede modificar, en consecuencia, en el output se me indica que el objeto `tuple1`no acepta asignación (en este caso modificación) en el item de interés.

In [11]:
tuple1[0]="pink gratefuit"

TypeError: 'tuple' object does not support item assignment

**4. Print the length of `tuple1`.**

In [12]:
len(tuple1)

3

**5. Sum all the elements of tuple2 and describe your steps and explain each of them.**

En el enunciado de este pregunta se indica que puede utilizar la función `map()` cuyos argumentos son: la función a utilizar y el objeto de interés. Sin embargo, no me permite visualizar el resultado porque dicha función solo realiza iteraciones mas no acciones de resultado por lo que es necesario solicitarle que realice la acción mediante otra función.

In [117]:
tuple2 = ([7, 8], [9, 1], [10, 7])
map(sum,tuple2)

([7, 8], [9, 1], [10, 7])

En tal sentido, se utiliza `list()`para revelar las acción realizada; se observa que se ha procedido con sumar cada una de los elementos dentro de la tupla. No obstante, se nos pide sumar todos los elementos de la tupla por tanto se procede a realizar dicha operación con `list()`. Es importante destacar que la función `list()` la tupla se convierte en una lista la cual puede ser modificada. -->

In [88]:
print(list(map(sum,tuple2)))
print(sum(list(map(sum,tuple2))))

[15, 10, 17]
42

6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.

In [120]:
a=tuple2[0][0]
print(a)
b=tuple2[0][1]
print(b)
c=tuple2[1][0]
print(c)
tuple2_new=([a],[b],[c])
tuple2_new

7
8
9

([7], [8], [9])