In [1]:
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

### Pregunta1
Import the REC0111.sav, RE223132.sav and RE516171.sav files and their variables and values labels from this path "../../_data/endes/2019". The name of imported files should be named as rec_1, rec_2 and rec_3 for files REC0111.sav, RE223132.sav and RE516171.sav respectively. The name of the variable and value labels should be var_labels1 and value_labels1 for rec1, var_labels2 and value_labels2 for rec2, and var_labels3 and value_labels3 for rec3

In [2]:
p = '''../../_data/endes/2019'''
d1 = p+'''/REC0111.sav'''
d2 = p+'''/RE223132.sav'''
d3 = p+'''/RE516171.sav'''

rec_1,meta_1 = pyreadstat.read_sav(d1)
rec_2,meta_2 = pyreadstat.read_sav(d2)
rec_3,meta_3 = pyreadstat.read_sav(d3)

var_labels1 = meta_1.column_names_to_labels
value_labels1 = meta_1.variable_value_labels

var_labels2 = meta_2.column_names_to_labels
value_labels2 = meta_2.variable_value_labels

var_labels3 = meta_3.column_names_to_labels
value_labels3 = meta_3.variable_value_labels

### Pregunta 2
Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as rec1_1, rec2_1, and rec3_1. The new varible labels objects should be named as new_var_labels1, new_var_labels2, and new_var_labels3. The new value labels objects should be named as new_value_labels1, new_value_labels2, and new_value_labels3 Hint: Use the loc and column names to filter. Update the dictionary.

In [10]:

rec1_1=rec_1.loc[:,['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127'
, 'V133']]

rec2_1=rec_2.loc[:,['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']]

rec3_1=rec_3.loc[:,['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']]

clave_seleccion1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127'
, 'V133']

clave_seleccion2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']

clave_seleccion3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

new_var_labels1 = {}
new_value_labels1 = {}

new_var_labels2 = {}
new_value_labels2 = {}

new_var_labels3 = {}
new_value_labels3 = {}

###1
for clave in var_labels1.keys():
    if clave in clave_seleccion1:
        new_var_labels1[clave] = var_labels1[clave]

for clave in value_labels1.keys():
    if clave in clave_seleccion1:
        new_value_labels1[clave] = value_labels1[clave]
        
###2
for clave in var_labels2.keys():
    if clave in clave_seleccion2:
        new_var_labels2[clave] = var_labels2[clave]

for clave in value_labels2.keys():
    if clave in clave_seleccion2:
        new_value_labels2[clave] = value_labels2[clave]
        
###3
for clave in var_labels3.keys():
    if clave in clave_seleccion3:
        new_var_labels3[clave] = var_labels3[clave]

for clave in value_labels3.keys():
    if clave in clave_seleccion3:
        new_value_labels3[clave] = value_labels3[clave]

## Pregunta 3

Generate a new column for rec1_1 named as year. It should be equal to 2019. Also, you must update this new variable for the var_labels dictionary. Generate a new key for new_var_labels1 and the value for this key should be "Year of the survey" Hint: Use loc and update method.

In [11]:
rec1_1.loc[:, "year"] = 2019

new_var_labels1.update({"year": "Year of the survey"})

In [13]:
new_var_labels1.keys()

dict_keys(['CASEID', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V000', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133', 'year'])

In [14]:
rec1_1.keys()

Index(['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008',
       'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122',
       'V123', 'V124', 'V125', 'V127', 'V133', 'year'],
      dtype='object')

## Pregunta 4

Merge rec1_1, rec2_1, and rec3_1 using CASEID. Name this new object as endes_2019

In [22]:
endes_2019 = pd.merge(left=rec1_1, right=rec2_1, how="inner", on="CASEID")
endes_2019 = pd.merge(left=endes_2019, right=rec3_1, how="inner", on="CASEID")

In [23]:
endes_2019.shape

(33311, 64)

In [40]:
endes_2019.head(10)

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,PE6,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
5,000116701 1,PE6,1.0,167.0,1.0,1.0,2019.0,1434.0,6.0,2001.0,...,NaN,NaN,NaN,NaN,NaN,0.0,16.0,2.0,0.0,NaN
6,000119101 1,PE6,1.0,191.0,1.0,1.0,2019.0,1434.0,9.0,1995.0,...,2013.0,1364.0,1.0,17.0,5.0,2.0,17.0,2.0,1.0,13.0
7,000120701 2,PE6,1.0,207.0,2.0,1.0,2019.0,1434.0,8.0,1984.0,...,2002.0,1230.0,1.0,17.0,17.0,4.0,17.0,2.0,1.0,14.0
8,000200301 3,PE6,2.0,3.0,3.0,2.0,2019.0,1432.0,12.0,1987.0,...,2011.0,1338.0,1.0,23.0,7.0,2.0,20.0,2.0,0.0,16.0
9,000203001 2,PE6,2.0,30.0,2.0,2.0,2019.0,1432.0,5.0,1990.0,...,2013.0,1357.0,1.0,22.0,6.0,2.0,19.0,3.0,0.0,15.0

In [43]:
### para probar algunas NaN  rec2_1.loc[rec2_1["CASEID"].str.contains("000116701")]

In [37]:
#rec1_1[rec1_1['CASEID'] == '0001002012']

Empty DataFrame
Columns: [CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133, year]
Index: []

[0 rows x 23 columns]

### Pregunta 5

Unify all the new_var_labels in one object and new_value_labels in another one object. Name these two objects as var_labels and value_labels. Use them to generate new attributes for endes_2019. These attributes should be named as var_labels and value_labels. Hint: Use update method

In [46]:
lista_keys=list(endes_2019.keys())

In [52]:
var_labels = {}
value_labels = {}


for clave in var_labels1.keys():
    if clave in lista_keys:
        var_labels[clave] = var_labels1[clave]

for clave in value_labels1.keys():
    if clave in lista_keys:
        value_labels[clave] = value_labels1[clave]
        
for clave in var_labels2.keys():
    if clave in lista_keys:
        var_labels[clave] = var_labels2[clave]

for clave in value_labels2.keys():
    if clave in lista_keys:
        value_labels[clave] = value_labels2[clave]
        
for clave in var_labels3.keys():
    if clave in lista_keys:
        var_labels[clave] = var_labels3[clave]

for clave in value_labels3.keys():
    if clave in lista_keys:
        value_labels[clave] = value_labels3[clave]
        
print(var_labels.keys())
print(value_labels.keys())

dict_keys(['CASEID', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V000', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715'])
dict_keys(['V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V510', 'V513', 'V525', 'V613', 'V714', 'V715'])

## Pregunta 6
Get the min, max, sd, n_obs, n_missing for the following columns total children ever born (V201), Ideal number of children (V613), Husbands education-single yrs (V715), and Age at first marriage (V511). We want a dataframe with the following columns Variables, Min, Max, Mean, N_obs, N_missing and sort by the number of missing rows. Hint: Use describe and pivot methods

In [214]:
# obtengo toda la estadistica descriptiva y hago la transpuesta
data_selected = endes_2019.loc[ :, ["V201" ,"V613","V715","V511"]]
#incluyo todos los datos hasta los na para obtener las estadisticas
descriptive_stats=data_selected.describe(include = 'all')
descriptive_stats.keys()

Index(['V201', 'V613', 'V715', 'V511'], dtype='object')

In [215]:
## verifico la forma de los datos
print(f"los datos unicos de V201 {data_selected['V201'].unique()}")
print(f"los datos unicos de V613 {data_selected['V613'].unique()}")

print(f"los datos unicos de V715 {data_selected['V715'].unique()}")

print(f"los datos unicos de V511 {data_selected['V511'].unique()}")

los datos unicos de V201 [ 2.  3.  1.  4.  0.  6.  5.  7.  9.  8. 10. 11. 12. 13.]
los datos unicos de V613 [ 2.  3.  0.  1.  4.  6.  5. 12.  9. 96. 10.  8.  7. 20. 16.]
los datos unicos de V715 [11. 14.  6. 16. nan 13. 15.  8. 12.  5. 17. 10.  9.  2.  7.  3. 98.  4.
  0.  1.]
los datos unicos de V511 [21. 28. 14. 18. 17. nan 23. 22. 16. 20. 26. 27. 19. 24. 12. 15. 29. 32.
 25. 31. 33. 13. 30. 11. 34. 39. 35. 36. 37. 40. 38. 42. 10. 41. 43. 46.
 44. 45. 48. 47.]

In [216]:
## creo una nueva variable con n_obs y n_missing
#descriptive_stats.loc['n_obs'] = descriptive_stats.loc['count']
descriptive_stats.loc['n_missing'] = data_selected.isnull().sum()
descriptive_stats = descriptive_stats.rename(columns={'A': 'Col_1'}, index={'count': 'n_obs'})

In [217]:
descriptive_stats

                   V201          V613          V715          V511
n_obs      33311.000000  33311.000000  25881.000000  25881.000000
mean           1.975113      2.455345     11.624474     20.463738
std            1.734790      3.849126      9.323184      4.858358
min            0.000000      0.000000      0.000000     10.000000
25%            1.000000      2.000000      9.000000     17.000000
50%            2.000000      2.000000     11.000000     19.000000
75%            3.000000      3.000000     14.000000     23.000000
max           13.000000     96.000000     98.000000     48.000000
n_missing      0.000000      0.000000   7430.000000   7430.000000

In [218]:
descriptive_stats= descriptive_stats.loc[["min", "max", "std", "mean","n_obs", "n_missing"]].reset_index()

In [219]:
descriptive_stats.rename(columns={"index": "stats", "count": "n_obs"},inplace=True)

In [220]:
aux=descriptive_stats
descriptive_stats

       stats          V201          V613          V715          V511
0        min      0.000000      0.000000      0.000000     10.000000
1        max     13.000000     96.000000     98.000000     48.000000
2        std      1.734790      3.849126      9.323184      4.858358
3       mean      1.975113      2.455345     11.624474     20.463738
4      n_obs  33311.000000  33311.000000  25881.000000  25881.000000
5  n_missing      0.000000      0.000000   7430.000000   7430.000000

In [223]:
descriptive_stats1 = descriptive_stats.pivot_table(columns= 'stats') #sort_values(by= 'n_missing')

In [222]:
descriptive_stats

       stats          V201          V613          V715          V511
0        min      0.000000      0.000000      0.000000     10.000000
1        max     13.000000     96.000000     98.000000     48.000000
2        std      1.734790      3.849126      9.323184      4.858358
3       mean      1.975113      2.455345     11.624474     20.463738
4      n_obs  33311.000000  33311.000000  25881.000000  25881.000000
5  n_missing      0.000000      0.000000   7430.000000   7430.000000

In [212]:
descriptive_stats.pivot(columns= 'index')

       V201                                             V613                 \
index   max      mean  min n_missing    n_obs      std   max      mean  min
0       NaN       NaN  0.0       NaN      NaN      NaN   NaN       NaN  0.0
1      13.0       NaN  NaN       NaN      NaN      NaN  96.0       NaN  NaN
2       NaN       NaN  NaN       NaN      NaN  1.73479   NaN       NaN  NaN
3       NaN  1.975113  NaN       NaN      NaN      NaN   NaN  2.455345  NaN
4       NaN       NaN  NaN       NaN  33311.0      NaN   NaN       NaN  NaN
5       NaN       NaN  NaN       0.0      NaN      NaN   NaN       NaN  NaN

                 ... V715                               V511                   \
index n_missing  ...  min n_missing    n_obs       std   max       mean   min
0           NaN  ...  0.0       NaN      NaN       NaN   NaN        NaN  10.0
1           NaN  ...  NaN       NaN      NaN       NaN  48.0        NaN   NaN
2           NaN  ...  NaN       NaN      NaN  9.323184   NaN        NaN   NaN
3           NaN  ...  NaN       NaN      NaN       NaN   NaN  20.463738   NaN
4           NaN  ...  NaN       NaN  25881.0       NaN   NaN        NaN   NaN
5           0.0  ...  NaN    7430.0      NaN       NaN   NaN        NaN   NaN


index n_missing    n_obs       std
0           NaN      NaN       NaN
1           NaN      NaN       NaN
2           NaN      NaN  4.858358
3           NaN      NaN       NaN
4           NaN  25881.0       NaN
5        7430.0      NaN       NaN

[6 rows x 24 columns]

In [ ]:
columns=["min", "max", "std", "mean","n_obs", "n_missing"],

In [194]:
descriptive_stats.pivot(index=["V201" ,"V613","V715","V511"], columns=[0], values="values")
index = 'Variables', columns = 'index', values = 'values')

KeyError: 0