# 1 Assignment 4

In [2]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [3]:
#%pip install pyreadstat
import pyreadstat
import pandas as pd

rec_1 = pd.read_spss(r"../../_data/endes/2019/REC0111.sav")
rec_2 = pd.read_spss(r"../../_data/endes/2019/RE223132.sav")
rec_3 = pd.read_spss(r"../../_data/endes/2019/RE516171.sav")

In [4]:
import pyreadstat

file_paths = [
    "../../_data/endes/2019/REC0111.sav",
    "../../_data/endes/2019/RE223132.sav",
    "../../_data/endes/2019/RE516171.sav"
]

var_labels = {}
value_labels = {}

for file_path in file_paths:
    df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)

    # Extract variable labels
    if isinstance(meta.column_labels, list):
        var_labels[file_path] = {col: label for col, label in zip(df.columns, meta.column_labels)}
    else:
        var_labels[file_path] = meta.column_labels

    # Extract value labels
    value_labels[file_path] = meta.variable_value_labels

# Access variable and value labels for each file
var_labels1 = var_labels["../../_data/endes/2019/REC0111.sav"]
var_labels2 = var_labels["../../_data/endes/2019/RE223132.sav"]
var_labels3 = var_labels["../../_data/endes/2019/RE516171.sav"]

value_labels1 = value_labels["../../_data/endes/2019/REC0111.sav"]
value_labels2 = value_labels["../../_data/endes/2019/RE223132.sav"]
value_labels3 = value_labels["../../_data/endes/2019/RE516171.sav"]

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [5]:
# Define the selected columns for each rec
selected_columns_rec = [
    ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133'],
    ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380'],
    ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
]

# Iterate through the selected columns and perform the operations
rec_list = [rec_1, rec_2, rec_3]
new_var_labels_list = [var_labels1, var_labels2, var_labels3]
new_value_labels_list = [value_labels1, value_labels2, value_labels3]

for i in range(3):
    # Update rec_i with selected columns
    rec_i = rec_list[i].loc[:, selected_columns_rec[i]]

    # Update variable labels for rec_i
    new_var_labels_i = {key: value for key, value in new_var_labels_list[i].items() if key in selected_columns_rec[i]}

    # Update value labels for rec_i
    new_value_labels_i = {key: value for key, value in new_value_labels_list[i].items() if key in selected_columns_rec[i]}
    
    if i == 0:
        rec1_1 = rec_i
        new_var_labels1 = new_var_labels_i
        new_value_labels1 = new_value_labels_i
    elif i == 1:
        rec2_1 = rec_i
        new_var_labels2 = new_var_labels_i
        new_value_labels2 = new_value_labels_i
    elif i == 2:
        rec3_1 = rec_i
        new_var_labels3 = new_var_labels_i
        new_value_labels3 = new_value_labels_i

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [6]:
# Generate a new column 'year' with the value 2019 using loc
rec1_1.loc[:, 'year'] = 2019

# Update var_labels1 dictionary using the update method
new_var_labels1.update({'year': 'Year of the survey'})

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [7]:
# Merge rec1_1, rec2_1, and rec3_1 using CASEID
endes_2019 = rec1_1.merge(rec2_1, on='CASEID').merge(rec3_1, on='CASEID')

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [8]:
# Unify new_var_labels and new_value_labels into var_labels and value_labels
var_labels = {}
value_labels = {}

# Update var_labels and value_labels with the dictionaries from each rec dataframe
var_labels.update(new_var_labels1)
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

value_labels.update(new_value_labels1)
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

# Generate new attributes for endes_2019
endes_2019['var_labels'] = var_labels
endes_2019['value_labels'] = value_labels

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [9]:
import os
import pandas as pd
from scipy.io import savemat

# Initialize the nested dictionary
all_data = {}

# Specify the years
years = [2019, 2018, 2017, 2016, 2015]

# Specify the filenames
filenames = ["REC0111.sav", "RE223132.sav", "RE516171.sav"]

# Define the selected columns for each rec
selected_columns_rec = [
    ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133'],
    ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380'],
    ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
]

# Iterate through each year
for year in years:
    # Initialize a dictionary for the current year
    year_data = {}

    # Loop through each filename for the current year
    for filename in filenames:
        # Construct the file path
        file_path = f"../../_data/endes/{year}/{filename}"

        # Check if the file exists
        if os.path.exists(file_path):
            # Load data from the .sav file
            data = pd.read_spss(file_path)

            # Check for the existence of selected columns
            selected_columns = [col for col in selected_columns_rec[filenames.index(filename)] if col in data.columns]

            # Select the desired columns
            rec_i = data.loc[:, selected_columns]

            # Add a new column 'year' with the value of the current year
            rec_i['year'] = year

            # Update variable labels for rec_i
            new_var_labels_i = {key: value for key, value in new_var_labels_list[filenames.index(filename)].items() if key in selected_columns}

            # Update value labels for rec_i
            new_value_labels_i = {key: value for key, value in new_value_labels_list[filenames.index(filename)].items() if key in selected_columns}

            # Store data, var_labels, and value_labels in a nested dictionary
            file_key = f"{os.path.splitext(filename)[0]}_{year}"
            year_data[file_key] = {
                'data': rec_i,
                'var_labels': new_var_labels_i,
                'value_labels': new_value_labels_i
            }
        else:
            print(f"File not found: {file_path}")

    # Store the data for the current year in the main dictionary
    year_key = f"year_{year}"
    all_data[year_key] = year_data

    # Merge rec_i dataframes using CASEID for the current year
    merged_data = None
    for file_key in year_data.keys():
        if merged_data is None:
            merged_data = year_data[file_key]['data']
        else:
            merged_data = merged_data.merge(year_data[file_key]['data'], on='CASEID')

    # Unify new_var_labels and new_value_labels into var_labels and value_labels for the current year
    var_labels = {}
    value_labels = {}

    for file_key in year_data.keys():
        var_labels.update(year_data[file_key]['var_labels'])
        value_labels.update(year_data[file_key]['value_labels'])

    # Generate new attributes for the merged data for the current year
    merged_data['var_labels'] = var_labels
    merged_data['value_labels'] = value_labels

    # Add the merged data for the current year to the main dictionary
    all_data[year_key]['merged_data'] = merged_data

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [10]:
# Create a list to store all data sets
all_datasets = []

# Iterate through each year in all_data
for year_key in all_data.keys():
    # Get the merged_data for the current year
    merged_data = all_data[year_key].get('merged_data')

    # Check if merged_data is not None
    if merged_data is not None:
        # Append the current merged_data to the list
        all_datasets.append(merged_data)

# Concatenate all data sets into a single DataFrame
endes_data_2015_2019 = pd.concat(all_datasets, ignore_index=True)

# Reset the index for a clean DataFrame
endes_data_2015_2019.reset_index(drop=True, inplace=True)

/var/folders/kh/g41z_k153vvbyk6y_3whxsjc0000gn/T/ipykernel_29180/1359047690.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  endes_data_2015_2019 = pd.concat(all_datasets, ignore_index=True)

In [11]:
endes_data_2015_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V511,V512,V513,V525,V613,V714,V715,year,var_labels,value_labels
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0,2019,NaN,NaN
1,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0,2019,NaN,NaN
2,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0,2019,NaN,NaN
3,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0,2019,NaN,NaN
4,000113601 2,PE6,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,17.0,13.0,De 10 a 14 años,15.0,2.0,Sí,16.0,2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170371,317503501 2,PE6,3175.0,35.0,2.0,3175.0,2015.0,1389.0,1.0,1989.0,...,19.0,7.0,5-9,15.0,1.0,Yes,11.0,2015,NaN,NaN
170372,317503701 2,PE6,3175.0,37.0,2.0,3175.0,2015.0,1389.0,12.0,1970.0,...,20.0,24.0,20-24,14.0,3.0,Yes,0.0,2015,NaN,NaN
170373,317507601 1,PE6,3175.0,76.0,1.0,3175.0,2015.0,1389.0,10.0,1972.0,...,20.0,22.0,20-24,12.0,3.0,Yes,3.0,2015,NaN,NaN
170374,317507801 2,PE6,3175.0,78.0,2.0,3175.0,2015.0,1389.0,4.0,2000.0,...,NaN,NaN,Never married,Not had intercourse,2.0,No,NaN,2015,NaN,NaN
170375,317508001 2,PE6,3175.0,80.0,2.0,3175.0,2015.0,1389.0,7.0,1984.0,...,19.0,11.0,10-14,18.0,2.0,No,11.0,2015,NaN,NaN

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [17]:
#First, we create 2 new dictionaries.
all_var_labels = {}
all_value_labels = {}

#Second, we use a for loop to iterate over the years from 2015 to 2019.

#We are extracting the variable and value labels associated with each year from all_data. Then we store them in the all_value_labels dictionary with the year as the key.

for year in range( 2015, 2020 ):
    all_var_labels[year] = all_data[ f'year_{year}' ]['var_labels']
    all_value_labels[year] = all_data[ f'year_{year}' ]['value_labels']

all_var_labels
all_value_labels

KeyError: 'var_labels'

In [20]:
#Finally, we set the attributes var_label and value_labels which are assigned the information of the dictionaries previously created.

endes_data_2015_2019_ta.attrs[ 'var_labels' ] = all_var_labels
endes_data_2015_2019_ta.attrs[ 'value_labels' ] = all_value_labels

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V511,V512,V513,V525,V613,V714,V715,year,var_labels,value_labels
0,000102701 1,PE6,1.0,27.0,1.0,1.0,2015.0,1386.0,7.0,1985.0,...,16.0,13.0,10-14,15.0,4.0,Yes,3.0,2015,NaN,NaN
1,000104301 1,PE6,1.0,43.0,1.0,1.0,2015.0,1386.0,4.0,1974.0,...,33.0,8.0,5-9,26.0,2.0,No,9.0,2015,NaN,NaN
2,000104801 2,PE6,1.0,48.0,2.0,1.0,2015.0,1386.0,1.0,1980.0,...,18.0,17.0,15-19,18.0,1.0,Yes,11.0,2015,NaN,NaN
3,000104801 3,PE6,1.0,48.0,3.0,1.0,2015.0,1386.0,11.0,1999.0,...,NaN,NaN,Never married,Not had intercourse,0.0,Yes,NaN,2015,NaN,NaN
4,000105001 3,PE6,1.0,50.0,3.0,1.0,2015.0,1386.0,8.0,1993.0,...,NaN,NaN,Never married,21.0,2.0,No,NaN,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35761,317503501 2,PE6,3175.0,35.0,2.0,3175.0,2015.0,1389.0,1.0,1989.0,...,19.0,7.0,5-9,15.0,1.0,Yes,11.0,2015,NaN,NaN
35762,317503701 2,PE6,3175.0,37.0,2.0,3175.0,2015.0,1389.0,12.0,1970.0,...,20.0,24.0,20-24,14.0,3.0,Yes,0.0,2015,NaN,NaN
35763,317507601 1,PE6,3175.0,76.0,1.0,3175.0,2015.0,1389.0,10.0,1972.0,...,20.0,22.0,20-24,12.0,3.0,Yes,3.0,2015,NaN,NaN
35764,317507801 2,PE6,3175.0,78.0,2.0,3175.0,2015.0,1389.0,4.0,2000.0,...,NaN,NaN,Never married,Not had intercourse,2.0,No,NaN,2015,NaN,NaN
35765,317508001 2,PE6,3175.0,80.0,2.0,3175.0,2015.0,1389.0,7.0,1984.0,...,19.0,11.0,10-14,18.0,2.0,No,11.0,2015,NaN,NaN

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**